---
import Layout from '../layouts/Layout.astro';
import CountrySelect from '../components/CountrySelect.astro';
---

<Layout title="WhatsApp Link Generator">
	<main>
		<div class="generator">
			<div class="form__errors" id="form-errors">
				<p>There are errors in the data entered, please check and try again.</p>
			</div>

			<div class="generator__container">
				<h1 class="generator__title">
					WhatsApp&reg; Link Generator
				</h1>

				<p class="generator__instructions">
					<strong>Instructions</strong>: select your country code, enter your whatsapp number (numbers only) and enter a message.
				</p>

				<div class="generator__form">
					<div class="form__group">
						<CountrySelect />

						<input type="number" id="phone" class="form__input" min="1" placeholder="WhatsApp number *" />
					</div>

					<textarea rows="5" class="form__textarea" placeholder="Message (optional)" id="message"></textarea>

					<button class="form__button" id="generate-btn">
						Generate link
					</button>
				</div>

				<div class="generator__result" id="generator-result">
					<h3 class="generator__result-title">
						Your Link:
					</h3>
					
					<p class="generator__link">
						<span id="link-generated">https://wa.me/573246802829?text=Hi%20there</span>

						<button id="copy-link" class="button-copy">Copy link</button>
					</p>

					<div class="generator__button-group">
						<p>
							<strong>Optional: </strong>
							add a button on your website:
						</p>
						<div class="generator__button">
							<div class="form__group">
								<p class="generator__btn-code" id="button-code"></p>
								<button id="copy-code" class="button-copy">Copy HTML</button>
							</div>
						</div>

						<div id="preview-button"></div>
					</div>
				</div>
			</div>
		</div>

		<p class="generator__copy">2022 &bull; by Lucho Web</p>
	</main>

	<input type="text" id="link-hidden" class="input-hidden">
	<input type="text" id="code-hidden" class="input-hidden">
</Layout>

<script is:global>
	function copyToClipboard(input) {
		input.select();
		input.setSelectionRange(0, 99999);
		navigator.clipboard.writeText(input.value);
	}

	function generateLink() {
		const buttonCodeBox = document.querySelector('#button-code');
		const linkGeneratedBox = document.querySelector('#link-generated');
		const previewBtnBox = document.querySelector('#preview-button');
		const copyLinkBtn = document.querySelector('#copy-link');
		const copyCodeBtn = document.querySelector('#copy-code');
		const linkHidden = document.querySelector('#link-hidden');
		const codeHidden = document.querySelector('#code-hidden');

		const message = messageTextarea.value !== '' 
			? `?text=${encodeURI(messageTextarea.value)}`
			: '';

		const waLink = `https://wa.me/${countryCodeSelect.value}${whatsappNumberInput.value}${message}`;

		const buttonCode = `<a aria-label="Chat on WhatsApp" href="${waLink}" target="_blank" rel="noopener"><img alt="Chat on WhatsApp" src="https://i.ibb.co/2s6rLtB/Whats-App-Button-Green-Small.png" width="222" height="50" /></a>`;

		linkGeneratedBox.textContent = waLink;
		buttonCodeBox.textContent = buttonCode;
		previewBtnBox.innerHTML = buttonCode;

		linkHidden.value = waLink;
		codeHidden.value = buttonCode;

		copyLinkBtn.addEventListener('click', function(){
			copyToClipboard(linkHidden);
		});
	
		copyCodeBtn.addEventListener('click', function(){
			copyToClipboard(codeHidden);
		});

		resultBox.classList.add('show');
	}

	const errors = {
		countryCode: true,
		phoneNumber: true
	}

	const countryCodeSelect = document.querySelector('#country-code');
	const whatsappNumberInput = document.querySelector('#phone');
	const messageTextarea = document.querySelector('#message');
	const generateButton = document.querySelector('#generate-btn');
	const errorsBox = document.querySelector('#form-errors');
	const resultBox = document.querySelector('#generator-result');

	countryCodeSelect.addEventListener('change', function(event){
		if ( event.target.value === '' ) {
			errors.countryCode = true;
			return false;
		}

		errors.countryCode = false;
	});

	whatsappNumberInput.addEventListener('keyup', function(event){
		const keysNotAllowed = [69, 188, 189, 190];
		if ( keysNotAllowed.includes(event.keyCode) ) {
			event.target.value = ''
			return false;
		};

		const phoneNumber = event.target.value;
		if ( phoneNumber === '' || isNaN(phoneNumber) ) {
			errors.phoneNumber = true;
			return false;
		}

		errors.phoneNumber = false;
	});

	generateButton.addEventListener('click', function(){
		const isInputEmpty = 
			countryCodeSelect.value === '' 
			|| whatsappNumberInput.value === '';
		
			const hasErrors = 
				errors.countryCode 
				|| errors.phoneNumber;

		if ( isInputEmpty || hasErrors ) {
			resultBox.classList.remove('show');
			errorsBox.classList.add('show');
			return false;
		}

		errorsBox.classList.remove('show')
		generateLink();
	});

</script>

<style>
	input, button, textarea {
		appearance: none;
		border: none;
		border-radius: .5rem;
		font-family: var(--font);
		font-size: 1rem;
	}

	input:focus, button:focus, textarea:focus {
		outline: none;
	}

	.input-hidden {
		display: none;
	}

	main {
		display: grid;
		height: 100vh;
		min-height: 880px;
		place-content: center center;
	}

	.generator {
		background-color: #fff;
		border-radius: .5rem;
		box-shadow: 0 0 7px var(--color-text);
		display: block;
		margin: 2rem 0;
		width: 640px;
	}

	.generator__container {
		padding: 2rem;
	}

	.generator__title {
		font-size: 1.5rem;
		margin-top: 0;
	}

	.generator__instructions {
		margin: 1rem 0;
	}

	.generator__form {
		display: flex;
		flex-wrap: wrap;
		margin: 1.5rem 0 0;
	}

	.generator__form .form__group {
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr 1fr;
		flex: 0 0 100%;
	}

	.form__input {
		appearance: none;
		border: 1px solid var(--color-text);
		padding: .4rem;
	}

	.form__textarea {
		border: 1px solid var(--color-text);
		flex: 0 0 94%;
		padding: 1rem;
		margin: 1rem 0;
	}

	.form__input:focus,
	.form__textarea:focus {
		border: 1px solid var(--color-light);
	}

	.form__errors {
		background-color: var(--color-danger);
		border-radius: .5rem .5rem 0 0;
		color: #fff;
		max-height: 0;
		transition: all 200ms ease-in-out;
		width: 100%;
	}

	.form__errors p {
		opacity: 0;
		margin: 0;
		padding: 1rem;
	}

	.form__errors.show {
		max-height: 100px;
	}

	.form__errors.show p {
		opacity: 1;
	}

	.form__button {
		background-color: var(--color-light);
		color: #fff;
		cursor: pointer;
		padding: .7rem 1rem;
		transition: all 200ms ease-in-out;
	}

	.form__button:hover {
		background-color: var(--color-primary);
	}

	.generator__result {
		margin: 0;
		max-height: 0;
	}

	.generator__result * {
		opacity: 0;
		height: 0;
		margin: 0;
	}

	.generator__result.show {
		margin-top: 2rem;
		transition: all 200ms ease-in-out;
		max-height: 500px;
	}

	.generator__result.show * {
		opacity: 1;
		height: fit-content;
		transition: all 200ms ease-in-out;
	}
	
	.generator__result-title {
		margin-bottom: .5rem;
	}

	.generator__link {
		align-items: center;
		background-color: var(--color-primary);
		border-radius: .5rem;
		color: #fff;
		display: flex;
		gap: .5rem;
		justify-content: space-between;
		margin: 0;
		padding: 1rem;
		word-break: break-all;
	}

	.button-copy {
		background-color: #fff;
		border: 1px solid var(--color-primary);
		border-radius: .5rem;
		color: var(--color-text);
		cursor: pointer;
		flex: 0 0 90px;
		padding: .3rem .5rem;
		transition: all 200ms ease-in-out;
		width: fit-content;
	}

	.button-copy:hover {
		background-color: var(--color-primary);
		border: 1px solid #fff;
		color: #fff;
	}

	.generator__button-group {
		margin-top: 2rem;
	}

	.generator__button-group p {
		margin: 0 0 1rem 0;
	}

	.generator__button {
		border: 2px;
		color: var(--color-text);
	}

	.generator__button .form__group {
		position: relative;
	}

	.generator__button .form__group .button-copy {
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
	}

	.generator__btn-code {
		background-color: var(--color-primary);
		border-radius: .5rem;
		color: #fff;
		display: block;
		margin: 0 0 1rem 0;
		padding: 1rem 15% 1rem 2%;
		text-align: left;
		width: 83%;
	}

	.generator__copy {
		color: #fff;
		font-size: .9rem;
		padding-bottom: 1rem;
		text-align: center;
	}

	@media (max-width: 767px) {
		main {
			place-content: flex-start center;
			min-height: 100vh;
		}

		.generator {
			height: fit-content;
			margin: 1rem auto;
			width: 94%;
		}

		.generator__form .form__group {
			grid-template-columns: 40% 60%;
		}
	}
</style>
